<nav>
    <div>
        <a href="{{'/psych/'}}">Psych!</a>
        <ul>
            <li><a href="{{'/psych/character/'}}">Characters</a></li>
            <li><a href="{{'/psych/art/'}}">Gallery</a></li>
            <li><a href="{{'/psych/txt/'}}">Library</a></li>
        </ul>
    </div>

    <div>
        <a href="{{'/eighty-four/'}}">Eighty Four</a>
        <ul>
            <li><a href="{{'/eighty-four/'}}">Characters</a></li>
        </ul>
    </div>

    <div>
        <a href="{{'/pepup/'}}">Pepup</a>
        <ul>
            <li><a href="{{'/pepup/'}}">Characters</a></li>
        </ul>
    </div>

    <div>
        <a href="{{'/gayme/'}}">Gayme</a>
        <ul>
            <li><a href="{{'/gayme/'}}">Characters</a></li>
        </ul>
    </div>

    <div>
        <a href="{{'/misc/'}}">Miscellaneous</a>
        <ul>
            <li><a href="#">Fursona</a></li>
        </ul>
    </div>
</nav>