<nav>
    <a href="{{'/psych/' | relative_path}}">Psych!</a>
    <ul>
        <li><a href="#character">Characters</a></li>
        <li><a href="#art">Gallery</a></li>
        <li><a href="#txt">Library</a></li>
    </ul>

    <a href="{{'/eighty-four/' | relative_path}}">Eighty Four</a>
    <ul>
        <li><a href="#character">Characters</a></li>
    </ul>

    <a href="{{'/pepup/' | relative_path}}">Pepup</a>
    <ul>
        <li><a href="#character">Characters</a></li>
    </ul>

    <a href="{{'/gayme/' | relative_path}}">Gayme</a>
    <ul>
        <li><a href="#character">Characters</a></li>
    </ul>

    <a href="{{'/misc/' | relative_path}}">Miscellaneous</a>
    <ul>
        <li><a href="#">Fursona</a></li>
    </ul>
</nav>